:root {
    --bg: #edf1f3;
    --dark-gray: #222222;
}

body {
    background-image: url(../sources/competera/hero-bg.svg);
    background-color: var(--bg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

/* Hero */

/* .case-hero__inner h6 {
    color: #417c99;
} */

/* Case Content */

.case-content :nth-child(4) {
    max-width: 75%;
}

.case-content :nth-child(8) {
    background-color: white;
    align-self: flex-end;
    padding: 10%;
    position: relative;
}

.case-content :nth-child(9) {
    background-color: white;
    padding: 10% 13% 10%;
    align-self: flex-start;
}

.case-content :nth-child(10) {
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.case-content :nth-child(10) div:first-of-type {
    align-self: flex-end;
    background-color: white;
    padding: 0 10%;
    margin-top: 290px;
}

.case-content :nth-child(10) div:last-of-type {
    align-self: flex-start;
    background-color: white;
    padding: 10% 8%;
}

.case-content :nth-child(13) {
    align-self: flex-end;
    max-width: 50%;
}

.case-content :nth-child(14) {
    display: flex;
    gap: 10%;
    align-items: end;
    justify-content: space-between;
}

.case-content :nth-child(14) :first-child {
    max-width: 70%;
}

.case-content :nth-child(14) :last-child {
    max-width: 15%;
}

.case-content :nth-child(17) {
    width: 75%;
    align-self: center;
    background-color: var(--dark-gray);
    padding: 10%;
}

.case-content :nth-child(17) video {
    width: 100%;
}

.case-content :nth-child(18) {
    align-self: flex-start;
    background-color: white;
    padding: 7%;
    max-width: 60%;
}

.case-content :nth-child(19) {
    align-self: flex-end;
    max-width: 75%;
}

@media screen and (max-width: 600px) {

    .case-content__inner > :nth-child(10) div:first-of-type,
    .case-content__inner > :nth-child(14) img:first-of-type  {
        max-width: 100%;
        margin: 0;
    }

    .case-content__inner > :nth-child(10) div:last-of-type,
    .case-content__inner > :nth-child(14) img:last-of-type {
        max-width: 100%;
        margin: var(--case-margin-portrait) 0 0;
    }

    .case-content .case-content__inner > * {
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0;
    }
}