:root {
    --bg: #EDF2F3;
    --dark-green: #344442;
    --dark-gray: #1a2023;
}

body {
    background-image: url(../sources/handprinter/handprinter-hero.svg);
    background-color: var(--bg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

/* Case Content */

.case-content__inner > :nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    max-width: 680px;
    background-color: var(--dark-green);
    
    background-image: url(../sources/handprinter/case-4-fingerprint.svg);
    background-repeat: no-repeat;
    background-position: center top;

    padding: 150px 80px 200px;
}

.case-content__inner > :nth-child(5) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-end;
    background-color: var(--dark-gray);
    max-width: 85%;

    padding: 80px 100px 0px;
}

.case-content__inner > :nth-child(5) img {
    margin-top: 80px;
}

.case-content__inner > :nth-child(8) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    max-width: 680px;
    background-color: var(--dark-green);
    
    background-image: url(../sources/handprinter/case-4-fingerprint.svg);
    background-repeat: no-repeat;
    background-position: center top;

    padding: 150px 80px 200px;
}

.case-content__inner > :nth-child(9) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-end;
    background-color: var(--dark-gray);
    max-width: 70%;
    padding: 80px 100px 100px;
}

.case-content__inner > :nth-child(9) img {
    margin-top: 80px;
}

.case-content__inner > :nth-child(11) {
    max-width: 80%;
}

.case-content__inner > :nth-child(13) {
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.case-content__inner > :nth-child(13) img:first-of-type {
    align-self: flex-start;
    max-width: 40%;
}

.case-content__inner > :nth-child(13) img:last-of-type {
    margin-top: 200px;
    align-self: flex-end;
    max-width: 50%;
}

.case-content__inner > :nth-child(14) {
    max-width: 75%;
    align-self: center;
}

.case-content__inner > :nth-child(16) {
    max-width: 75%;
    align-self: flex-end;
}

.case-content__inner > :nth-child(17) {
    max-width: 60%;
    align-self: flex-start;
}

.case-content__inner > :nth-child(19) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    max-width: 680px;
    background-color: var(--dark-green);
    
    background-image: url(../sources/handprinter/case-4-fingerprint.svg);
    background-repeat: no-repeat;
    background-position: center top;

    padding: 150px 80px 200px;
}

.case-content__inner > :nth-child(20) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-end;
    background-color: var(--dark-gray);
    max-width: 85%;

    padding: 80px 100px 120px;
}

.case-content__inner > :nth-child(20)>div {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.case-content__inner > :nth-child(20) .twenty-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.case-content__inner > :nth-child(20) .twenty-second {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--dark-green);
    border-radius: 8px;
    padding: 35px 50px 50px;
} 

.case-content__inner > :nth-child(20) .twenty-third {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.case-content__inner > :nth-child(20) img{
    max-width: 35%;
}

.case-content__inner > :nth-child(23) {
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.case-content__inner > :nth-child(23) img:first-of-type {
    align-self: flex-start;
    max-width: 40%;
}

.case-content__inner > :nth-child(23) img:last-of-type {
    margin-top: 200px;
    align-self: flex-end;
    max-width: 50%;
}

.case-content__inner > :nth-child(24) {
    align-self: center;
    max-width: 60% ;
}

@media screen and (max-width: 800px) {
    .case-content__inner > :nth-child(20) {
        max-width: 100%;
        padding: 80px 60px 120px;
    }
}

@media screen and (max-width: 600px) {

    .case-content__inner > :nth-child(13) img:first-of-type,
    .case-content__inner > :nth-child(23) img:first-of-type  {
        max-width: 100%;
        margin: 0;
    }

    .case-content__inner > :nth-child(13) img:last-of-type,
    .case-content__inner > :nth-child(23) img:last-of-type  {
        max-width: 100%;
        margin: 30% 0 0;
    }

    .case-content__inner > :nth-child(4),
    .case-content__inner > :nth-child(8),
    .case-content__inner > :nth-child(19) {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 64px;
        padding-bottom: 72px;
    }

    .case-content__inner > :nth-child(5),
    .case-content__inner > :nth-child(9),
    .case-content__inner > :nth-child(20) {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 64px;
        padding-bottom: 72px;
    }

    .case-content__inner > :nth-child(20) .twenty-first,
    .case-content__inner > :nth-child(20) .twenty-second,
    .case-content__inner > :nth-child(20) .twenty-third {
        flex-direction: column;
        gap: 40px;
        padding: 16px;
    }

    .case-content__inner > :nth-child(20) img{
        max-width: 100%;
    }
    

    .case-content .case-content__inner > * {
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0;
    }
}